/* BODY */

body {
    background-color: bisque;
}

/* H2 */

h2 {
    text-align: center;
    color: rgb(18, 87, 18) !important;
    
}


/* HEADER */

header {
    border-bottom: 1px black;
    text-align: center;
}

.logo {
    width: 60px;
    ;
}

.textoHistoria {
    text-align: center;
}

.fotoHistoria {
    max-width: 100%; 
    display: block; 
    margin: 0 auto; 
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(22, 93, 11, 0.489);
}

nav ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 0px 20px;

}

/* FORM */


form {
    background-color: #dddddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  form label {
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form .botonC {
    background-color: #556B2F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form .botonC:hover {
    background-color: #4CAF50;
  }
  

/* FOOTER */

.footer {
    text-align: center; 
    margin-top: 20px; 
  }
  

/* PRODUCTOS */

figure {
    border: 2px solid rgba(22, 93, 11, 0.489);
    border-radius: 2px;

}

figcaption {
    background-color: rgba(22, 93, 11, 0.489);
    color: bisque;
    text-align: center;
    padding: 20px;
}
.palaNegra {
    width: 250px;
display: block;
}

.quienesSomos {text-align: center;

}

.introHome {
    text-align: center;
}

iframe {
    margin: auto;
    display: block;

}

h1 {
    color: rgb(21, 94, 21) !important;
}

/* BOOTSTRAP */

/* Estilo predeterminado para los enlaces en la barra de navegación */
.navbar-nav .nav-link {
    color: #FFFFFF;
    transition: box-shadow 0.3s ease-in-out;
}

/* Estilo al hacer clic en un enlace de la barra de navegación */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    box-shadow: 0 0 5px #70AD47;
}