/* Variables */

$color-primary: #007bff;
$color-secondary: rgb(18, 87, 18);
$color-tertiary: rgb(21, 94, 21);
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

$spacing: 20px;
$cardHeight: 320px;
$cardPadding: 20px